:root {
  --size: 130;
}

@keyframes winnerWins {
  from {
    font-size: 0;
  }
  to {
    font-size: 80;
  }
}

.box span {
  color: black;
  font-size: 30;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  transition: color 250ms ease-in-out;
}
.box span:hover {
  color: cyan;
}
.winner {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0;
}
.winnerEnd {
  animation: winnerWins 1s;
  font-size: 80;
}
